@import "tailwindcss";

body, html {
  @apply bg-[#191924];
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: auto;
}

.cursor-default, .cursor-default * {
  cursor: url("/assets/cursor/point.cur"), auto !important;
}

.cursor-hover, .cursor-hover * {
  cursor: url("/assets/cursor/hover.cur"), auto !important;
}

.cursor-click, .cursor-click * {
  cursor: url("/assets/cursor/click.cur"), auto !important;
}

.cursor-click-right, .cursor-click-right * {
  cursor: url("/assets/cursor/click_right.cur"), auto !important;
}

